 .container1{
    position: relative;
    padding: 1rem;
    max-width: 1000px;
    max-height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .certificate{
    background-image: url(../Sources/img/Blue\ White\ Abstract\ Geometric\ Certificate\ of\ Appreciation.png) ;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    border: 2px solid #7f1b33;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:550px;
 }

 /* Contenido */
 .sect{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .tit1{
    color:#7f1b33;
    font-size: 50px;
    font-weight: 700;
 }

 
 .tit2{
    color:#000000;
    font-size: 25px;
    font-weight:400;
 }


 .Otorgado{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .otor1{
    color:#000000;
    font-size: 16px;
    font-weight: 400;
 }

 .otor2{
    color:#000000;
    font-size: 20px;
    font-weight:400;
 }

 .otor3{
    color:#7f1b33;
    font-weight:600;
    margin: -43px 0 0 0;
 }


 .texto{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .tex1{
    color:#000000;
    font-size: 18px;
    font-weight: 450;
    width: 70%;
    text-align: center;
 }

 .firmas{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 90px;
 }
 .Autor1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .Autor2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .firm1{
    width: 70px;
    margin: 0 0 -30px 0;
 }

 .firm2{
    color:#7f1b33;
    font-weight:600;
 }

 .firm3{
    color:#000000;
    font-size: 20px;
    font-weight:600;
 }

 .Log1{
    width: 60px;
    margin: -10px 0 0 25px;
 }

 
 #descargarPDF{
    margin-top: 15px;
    border-radius: 45px;
    padding: 10px 15px;
    border: 2px solid white;
    background: linear-gradient(to right, #fc785af0, #d8363a, #AD3636, #7f1b33);;
    color: white;
    font-weight: 600;
}