/* barra menu */
.cont{
    background-color: rgb(127, 27, 51);
}
.heade{
    z-index: 25;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.img-logo{
    width: 100px;
    margin: 10px 0 0 15px;
}
#navbarNav{
    justify-content: space-between;
}

#navbarNav a{
    color: white;
}

.btn-nav{
    color: white;
}

.nav-link1{
    margin: auto 5px;
    
    align-items: center;
    text-decoration: none;
}

.nav-link2{
    margin: auto 5px;
    
    align-items: center;
    text-decoration: none;
}

.nav-link3{
    margin: auto 5px;
    
    align-items: center;
    text-decoration: none;
}

.nav-link4{
    margin: auto 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link5{
    margin: auto 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link6{
    margin: auto 5px;
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-list{
    margin: auto 5px;
    color: white;
    font-size: large;
    display: none;
    text-decoration: none;
}

.nav-link7{
    margin: auto 5px;
    display: none;
    align-items: center;
    text-decoration: none;
}

.nav-link8{
    margin: auto 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-ini{
    margin-right: 5px;
}

.nav-in{
    display: flex;
    margin-right: 5px;
    font-size: 35px;
}

.nav-reg{
    margin-right: 5px;
    cursor: pointer;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none!important;
}




.porce{
    margin-bottom: 65px;
}
.porcentajes{
    min-width:800px;
    min-height: 600px;
    padding: 30px;
    border-radius: 15px;
}

.tit{
    display: flex;
    text-align: left;
}

.enlace{
    color: black;
    text-decoration: none;
    
}
  
  .avatar-container img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  
  /* Barras de progreso más llamativas */
  .progress-custom {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .progress-bar {
    font-weight: bold;
    font-size: 14px;
  }

  .btn-des{
    background: #4b4b4b;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 5px;
/*     cursor: not-allowed !important; */
  }
  
  .progress-bar {

    background-color: #9b3535!important;

}

.progreso1{
    width: 0% ;
}

.progreso2{
    width: 0% ;
}

.progreso3{
    width: 0% ;
}
 
.progresoG{
    width: 0% ;
}