/* barra menu */
.cont{
    background-color: #7f1b33;
}
.heade{
    z-index: 25;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.img-logo{
    width: 100px;
    margin: 10px 0 0 15px;
}
#navbarNav{
    justify-content: space-between;
}

#navbarNav a{
    color: white;
}

.btn-nav{
    color: white;
}

.nav-link1{
    margin: auto 5px;
    
    align-items: center;
    text-decoration: none;
}

.nav-link2{
    margin: auto 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link4{
    margin: auto 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link5{
    margin: auto 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link6{
    text-transform: capitalize;
    margin: auto 5px;
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-list{
    margin: auto 5px;
    color: white;
    font-size: large;
    display: none;
    text-decoration: none;
}

.nav-link7{
    margin: auto 5px;
    display: none;
    align-items: center;
    text-decoration: none;
}

.nav-link8{
    margin: auto 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-ini{
    margin-right: 5px;
}

.nav-in{
    display: flex;
    margin-right: 5px;
    font-size: 35px;
}

.nav-reg{
    margin-right: 5px;
    cursor: pointer;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none!important;
}


.t-intro{
    margin-bottom: 50px;
    color: #000000;
}

.t-tit{
    margin-top: 50px;
    color: #AD3636;
}

.desc-k{
    margin:  10px auto;
    text-align: center;
    width: 80%;
}
.imgbanner{
    width: 400px;
    height: auto;
    display: flex;
    margin: 20px auto 50px auto;
}



.revistas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}

.rev{
    width: 70%;
    height: 500px;
    margin-bottom: 25px;
}

.img-grupal{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sect-niño{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-niño{
    margin-top: 25px;
}
.img-niño{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sect-chico{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-chico{
    margin-top: 25px;
}
.img-chico{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sect-hombre{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-hombre{
    margin-top: 25px;
}
.img-hombre{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sect-gato{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-gato{
    margin-top: 25px;
}
.img-gato{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sect-niña{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-niña{
    margin-top: 25px;
}
.img-niña{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sect-chica{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-chica{
    margin-top: 25px;
}
.img-chica{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sect-mujer{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.t-mujer{
    margin-top: 25px;
}
.img-mujer{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



@media(max-width:576px){
.desc-k{
    margin: auto;
    text-align: center;
    width: 80%;
}

.imgbanner{
    width: 290px;
    height: auto;
    display: flex;
    margin: 20px auto 50px auto;
}

.revistas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}

.rev{
    margin-bottom: 25px;
    width: 80%;
    height: 500px;
}

}


@media(min-width:992px){
.rev{
    width: 40%;
    height: 500px;
}

.revistas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.img-grupal{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


}



/* footer */

.footer{
    margin-top: 100px;
    background-color: #fc785af0;
}

.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-fo{
    display: flex;
    justify-content: center;
}
.img-logof{
    width: 50px;
    margin: 10px 0 0 15px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.redes a{
    font-size: 35px;
    transition: 0.5s;
}

.Yout{
color: rgb(255, 255, 255);
}

.Tik{
color: rgb(255, 255, 255);
}

.Whats{
    color: rgb(255, 255, 255);
}

.Ins{
color: rgb(255, 255, 255);
}

.redes a:hover{
    transform: scale(1.4);
}

.btn-sugerencia{
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.enlace-s {
    text-decoration: none;
    color: white;
}


@media(min-width:992px){
    
    .foot{
        flex-direction: row;
    }  
}

